body{
    margin:0;
    padding:0;
}
#root{
    display:flex;
    flex-direction: column;

}
#boardContainers{
    display:flex;
    justify-content:center;
    align-items: center;
}
.cpuRemaining,.playerRemaining{
    font-size: 30px;
    margin:0;
    padding:0;
}
.announcementContainer{
    display:flex;
    align-items: center;
    height:60px;
    justify-content: center;
    flex-direction: column;
    width:100vw;
    font-size: 30px;
    font-weight:600;
}
.userBoardContainer{
    display:flex;
    width:100vw;
    height:100vh;
    margin:5px;
    justify-content: center;
    align-items: center;
}
.userBoard{
    display:grid;
    width:500px;
    height:500px;
    grid-template-columns: repeat(10,50px);
    grid-auto-rows: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.hidden{
    display:none;
}
.changeDirection,.resetBoard,.startBtn{
    margin-top: 20px;
    grid-column: 1/11;
}
.empty{
    background:#4a81f7;
    border:1px black solid;
}
.shipContainer{
    margin:50px;
    height:auto;
}
.shipContainer.Vertical{
    display:grid;
    grid-template-columns:repeat(5,calc(360px/5));
    grid-template-rows: auto;
}
.shipContainer.Horizontal{
    display:grid;
    height:auto;
    grid-template-rows: repeat(5,auto);
    grid-template-columns: 360px;
}
.shipSquare{
    width:50px;
    height:50px;
    border:1px solid black;
    background:green;
}
.ship.Horizontal{
    display:flex;
    margin:10px;
}
.ship.Vertical{
    display:block;
    margin:10px;
}

.Carrier,.Destroyer,.Submarine,.PatrolBoat,.Battleship{
    width:50px;
    height:50px;
    border:1px solid black;
    background:green;
    transition: color 0.3s ease-in-out;
}
.cpu{
    background:#4a81f7;
    border:1px black solid;
}
.disabled{
    background:#bb4b4b;
}
.disabled:hover{
    background:#bb4b4b
}
.empty.disabled{
    background:darkblue
}
button:hover{
    background:white;
}

.underline{
    text-decoration: line-through;
    margin:10px;
}
.noDecoration{
    margin:10px;
}
.gameOver{
    background:black;
    color:white;
    width:100vw;
    height:100%;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    opacity:85%;
}