body{
    margin:0;
    padding:0;
    background-color: #25274D;
    color:#aaabb8;
    font-family: 'Roboto', sans-serif;
}
#root{
    display:flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
}
ul{
    padding:0;
}

/* Announcement component css */
.announcementContainer{
    padding-top: 20px;
    display:grid;
    align-items:center;
    justify-items: center;
    width:100vw;
    grid-template-rows: 100px 30px;
    grid-gap: 30px;
    text-align: center;
    font-size: 30px;
    font-weight:600;
}
.turnAnnouncement{
    font-size:40px;
    line-height: 60px;
    width:400px;
    padding:20px;
    box-shadow: #25274D;
    border:1px solid #aaabb8;
}
.statusAnnouncement{
    font-size:25px;
}
/* End of Announcement css */

/* UserBoard component css */
#boardContainers{
    display:grid;
    grid-template-columns: auto 500px 500px auto;
    grid-gap: 20px;
    justify-content:center;
    margin:0 auto;
    max-width:auto;
    height:100%;
    align-content: center;
}
.userBoardContainer.single{
    grid-column: 1/5;
}

.boardTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.buttonWrapper{
    display:grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    align-content: center;
}
.cpuRemaining,.playerRemaining{
    font-size: 30px;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}
.userBoardContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.userBoard{
    display:grid;
    grid-template-columns: repeat(10,40px);
    grid-auto-rows: 40px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.allShipsContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shipContainer{
    margin:40px;
    height:auto;
}
.shipContainer.Vertical{
    display:grid;
    grid-template-columns:repeat(5,calc(300px/5));
    grid-template-rows: auto;
}
.shipContainer.Horizontal{
    display:grid;
    height:auto;
    grid-template-rows: repeat(5,auto);
    grid-template-columns: 300px;
}
.shipSquare{
    width:40px;
    height:40px;
    border:1px solid black;
    background:green;
}
.ship.Horizontal{
    display:flex;
    margin:10px;
}
.ship.Vertical{
    display:block;
    margin:10px;
}
.hidden{
    display:none;
}
.changeDirection,.resetBoard,.startBtn{
    background:#aaabb8;
    border:1px solid black;
    font-size: 16px;
    
}
.empty{
    background:#2e9cca;
    border:1px black solid;
}


.Carrier,.Destroyer,.Submarine,.PatrolBoat,.Battleship{
    width:40px;
    height:40px;
    border:1px solid black;
    background:green;
    transition: color 0.3s ease-in-out;
}
.cpu{
    background:black;
    border:1px black solid;
}
.disabled{
    background:#bb4b4b;
}
.disabled:hover{
    background:#bb4b4b
}
.empty.disabled{
    background:#5062dc;
}
button:hover{
    background:white;
}

.underline{
    text-decoration: line-through;
    text-decoration-thickness: 5px;
    margin:10px;
}
.noDecoration{
    margin:10px;
}
.gameOver{
    background:black;
    color:white;
    width:100vw;
    height:100%;
    position:absolute;
    display:grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    font-size: 60px;
    opacity:0.85;
}
.gameOver button{
    width:300px;
    height:40px;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}